[Unit]
Description=Alfred, the Telegram Bot
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Type=simple
ExecStart=/usr/bin/docker start -a alfred
ExecStop=/usr/bin/docker stop -t 30 alfred
User=alfred
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
